/* To top panel */
.to_top {
    display: none;
}

@media (min-width: 1050px) {
    .to_top {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 40px;
        opacity: 0.3;
        transition: opacity 0.3s, background 0.3s;
        cursor: pointer;
    }

    .to_top:hover {
        opacity: 0.9;
        background: #f0f0f0;
    }

    .to_top .to_top_panel {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 11px;
        color: #4d7285;
        padding-top: 10px;
        position: relative;
    }

    .to_top .close_panel {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        text-align: center;
        line-height: 1.2;
        font-family: sans-serif;
        display: none;
    }

    .to_top:hover .close_panel {
        display: block;
    }

    .to_top .to_top_button {
        text-align: left;
        line-height: 1.2;
        margin-left: 10px;
        font-family: sans-serif;
        font-weight: bold;
    }

    .to_top .to_top_button .arrow {
        font-size: 14px;
        font-weight: bold;
        vertical-align: middle;
    }

    /* mini panel */
    .to_top .to_top_panel .arrow { font-size: 20px; }
    .to_top .to_top_panel .label { display: none; }
}
