.st-accordion {
	max-width: 940px;
	width: 100%;
	margin: 0 auto;
}

.st-accordion ul li {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #fff;
	overflow: hidden;
	list-style: none;
}

.st-accordion ul li:first-child {
	border-top: none;
}

.st-accordion ul li > a {
	font-size: 1.5em;
	display: block;
	position: relative;
	line-height: 2.5em;
	outline: none;
	text-decoration: none;
	color: #708090;
	text-align: center;
	transition: color 0.2s ease-in-out;
}

.st-accordion ul li > a span {
	background: url(../images/down.png) no-repeat center center;
	width: 26px;
	height: 14px;
	position: absolute;
	top: 50%;
	right: -26px;
	margin-top: -7px;
	opacity: 0;
	transition: all 0.2s ease-in-out;
}

.st-accordion ul li > a:hover,
.st-accordion ul li > a:focus {
	color: #1693eb;
}

.st-accordion ul li > a:hover span,
.st-accordion ul li > a:focus span {
	opacity: 1;
	right: 10px;
}

.st-accordion ul li.st-open > a {
	color: #1693eb;
}

.st-accordion ul li.st-open > a span {
	transform: rotate(180deg);
	right: 10px;
	opacity: 1;
}

.st-content {
	padding: 5px 0;
}

@media screen and (max-width: 480px) {
	.st-accordion ul li > a {
		font-size: 1.2em;
	}
}
